
packages.config
pch.cpp
pch.h
rest_client_test.vcxproj
rest_client_test.vcxproj.user
x64/Release/pch.obj
x64/Release/rest_client_test.exe.recipe
x64/Release/vcpkg.applocal.log
x64/Release/vc142.pdb
x64/Release/test.obj
x64/Release/rest_client_test.vcxproj.FileListAbsolute.txt
x64/Release/rest_client_test.vcxproj.CopyComplete
x64/Release/rest_client_test.tlog/rest_client_test.write.1u.tlog
x64/Release/rest_client_test.tlog/rest_client_test.lastbuildstate
x64/Release/rest_client_test.tlog/link.write.1.tlog
x64/Release/rest_client_test.tlog/link.read.1.tlog
x64/Release/rest_client_test.tlog/link.command.1.tlog
x64/Release/rest_client_test.tlog/CopyLocal.write.1u.tlog
x64/Release/rest_client_test.tlog/CopyLocal.read.1u.tlog
x64/Release/rest_client_test.tlog/CL.write.1.tlog
x64/Release/rest_client_test.tlog/CL.read.1.tlog
x64/Release/rest_client_test.tlog/CL.command.1.tlog
x64/Release/rest_client_test.pch
x64/Release/rest_client_test.log
x64/Release/rest_client_test.tlog/unsuccessfulbuild
x64/Release/test_my_client.obj
